#header{
	background-color:#98fb98;
	text-align:center;
	height:30px;
}
html{
	height:100%;
}
body{
	height:100%;
}
#tab{
	background:pink;
	width:100%;
	height:5%;
}
#box{
	display:table;
	width:100%;
	height:90%;
}
#textside{
	background-color:#87cefa;
	display: table-cell;
	width:50%;
}
#textbook{
	display: flex;
	justify-content: center;
	align-items: center;
}
#noteside{
	background-color:#ffffe0;
	display:table-cell;
	width:50%;
}
#note{
	display: flex;
	justify-content: center;
	align-items: center;
}
#canvas{
	background-color:white;
	border:1px solid #000000;
}
#pagenumber{
	display:inline;
}
#center{
	text-align:center;
}

#lineNum{

}
li{
	width: 30px;
	height: 30px;
	display:inline-block;
	cursor: pointer;
}

@media screen and (max-width:1000px){
	#header{
		background-color:#98fb98;
		text-align:center;
		height:30px;
	}
	html{
		height:100%;
	}
	body{
		height:100%;
	}
	#tab{
		background:pink;
		width:100%;
		height:5%;
	}
	#box{
		display:table;
		width:100%;
		height:90%;
	}
	#textside{
		background-color:skyblue;
		display: table-cell;
		width:100%;
	}
	#textbook{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#noteside{
		background-color:pink;
		display:none;
		width:0;
	}
	#note{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#canvas{
		background-color:white;
		border:1px solid #000000;
	}
	#pagenumber{
		display:inline;
	}
	#center{
		text-align:center;
	}
}